* Selector universal para aplicar border-box a todo, incluyendo padding y border dentro de width/height [cite: 5452] */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Estilos generales a toda la página */
body {
    font-family: sans-serif;
    background-color: #f4f4f9; /* Color de fondo */
    color: #333;
}