/*Estilos header*/
body {
    background-color: #e2e8f3 /*CAMBIAR COLORES*/
}

header {
    background-color: #7398c4; /*CAMBIAR COLORES*/
    color: white;
    padding: 20px 0;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 5px;
}

#titulo-web {
    margin: 0;
    font-size: 3em;
}

/*Estilos menu Navegacion*/
nav.contenedor-principal {
    background-color: #88a7d0; /*CAMBIAR COLORES*/
    margin-bottom: 10px; /* Separacion antes del <main> */
    border-radius: 5px;
}

nav.contenedor-principal ul {
    padding: 0;
    margin: 0;
    text-align: center;
}

nav.contenedor-principal li.enlace-nav {
    display: inline-block; /* Muestra los enlaces en linea. */
}

nav.contenedor-principal a {
    text-decoration: none; /* Elimina el subrayado. */
    color: white;
    padding: 15px 20px;
    display: block;
    /*    background-color: #0096c7;*/
}

nav.contenedor-principal a:hover {
    background-color: #00b4d8; /*CAMBIAR COLORES*/
}

/*Estilo pie de pagina*/
footer {
    background-color: #0077b6; /*CAMBIAR COLORES*/
    color: white;
    padding: 15px 0;
    text-align: center;
    border-top: 5px solid #00b4d8; /*CAMBIAR COLORES*/
    margin-top: 10px; /* Separaci�n despu�s del <main> */
}

.destacado {
    font-weight: bold; /* Estilo de texto cubierto. */
}


