
/*STYLE NOTICIAS*/
#contenedor-noticias {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 20px;
}

.noticia {
  width: 30%;
  background-color: #f0f0f0;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  text-align: center;
}

.noticia img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.noticia h4 {
  margin-bottom: 10px;
}

.noticia a {
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
  color: white;
  background-color: #00bcd4;
  padding: 8px 12px;
  border-radius: 5px;
}

.noticia a:hover {
  background-color: #00838f;
}



/* Contenedor de botones */
#filtros-noticias {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;       /* Para que se adapten en pantallas pequeñas */
  gap: 20px;             /* Espacio entre botones */
  margin: 25px 0;
}

/* Estilo de los botones */
.btn-filtro {
  background-color: #0077b6;   /* Azul principal */
  color: white;
  padding: 14px 28px;          /* Botón grande */
  border: none;
  border-radius: 12px;         /* Bordes suaves */
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease, 
              transform 0.15s ease;
}

/* Hover: color más claro + efecto zoom */
.btn-filtro:hover {
  background-color: #0096c7;
  transform: scale(1.05);
}

/* Estado de click */
.btn-filtro:active {
  background-color: #00b4d8;
  transform: scale(0.97);
}
