/* =========================================
   ESTILO NOTICIAS
   ========================================= */
body {
    font-family: Arial, Helvetica, sans-serif; 
}

#contenedor-noticias {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 30px;            
    max-width: 1200px;
    margin: 20px auto;      
    padding: 0 20px;
}

/* Tarjeta individual */
.noticia {
    background-color: white;
    width: 375px;          
    max-width: 100%;
    border-radius: 15px;
    overflow: hidden;        
    box-shadow: 0 5px 15px rgba(0,0,0,0.1); 
    border: 1px solid #e1e1e1;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* Levantar tarjeta */
.noticia:hover {
    transform: translateY(-10px); 
    box-shadow: 0 15px 25px rgba(0,119,182, 0.2); 
}

/* Imagen de la noticia */
.noticia img {
    width: 100%;
    height: 200px;       
    object-fit: cover;    /* Recorta la imagen sin deformarla */
    border-radius: 0;   
    margin-bottom: 0;
    display: block;
}

/* Título de la noticia */
.noticia h4 {
    margin: 20px 15px 10px 15px;
    color: #0096c7; 
    font-size: 1.2rem;
}

/* Descripción */
.noticia p {
    padding: 0 15px;
    color: #666;
    font-size: 0.95rem;
    flex-grow: 1; /* botón hacia abajo para alinearlos */
}
.noticia a {
    display: inline-block;
    margin: 20px;            
    text-decoration: none;
    background-color: #0077b6;
    color: white;
    padding: 12px 25px;
    border-radius: 25px;     
    font-weight: bold;
    transition: background-color 0.3s;
    cursor: pointer;
    cursor: url("../img/pez_globo_cursor_48.png") 0 0, auto;
}

.noticia a:hover {
    background-color: #00b4d8;
    cursor: url("../img/pez_blobo_cursor_48_v2.png") 0 0, pointer;
}

#filtros-noticias {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;       
    gap: 15px;            
    margin: 40px 0 30px 0; 
}

.btn-filtro {
    background-color: #0077b6; 
    color: white;
    padding: 10px 20px;     
    border: none;
    border-radius: 25px;   
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: transform 0.2s ease, background-color 0.3s ease;
}

.btn-filtro:hover {
    background-color: #0096c7;
    transform: translateY(-2px);
}

.btn-filtro:active {
    transform: scale(0.95);
}

/* =========================================
  FOOTER
   ========================================= */
footer {
    background-color: #003c73;
    color: #ffffff;
    padding: 1px 0;
    text-align: center;
    border-top: 5px solid #00b4d8;;
    margin-top: auto;
}

/* Clases utilitarias */
.destacado {
    font-weight: bold;
}